@model ModeloLibros

<h2>Lista de Libros</h2>

<table class="table">
    <thead>
        <tr>
            <th>Título</th>
            <!-- Agrega más encabezados para otras propiedades del libro -->
        </tr>
    </thead>
    <tbody>
        @foreach (var libro in Model.ListaLibros)
        {
            <tr>
                <td>@libro.titulo</td>
                <!-- Agrega más celdas para otras propiedades del libro -->
            </tr>
        }
    </tbody>
</table>
<form asp-action="Index" method="get">
    <div class="input-group mb-3">
        <input type="text" name="searchString" class="form-control" placeholder="Buscar por título" />
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary">Buscar</button>
        </div>
    </div>
</form>

<h2>Registrar Nuevo Libro</h2>

@using (Html.BeginForm("RegistrarLibro", "Libros", FormMethod.Post))
{
    @Html.ValidationSummary()

    <div class="form-group">
 
    @Html.LabelFor(model => model.NuevoLibro.titulo, "Titulo")
    @Html.TextBoxFor(model => model.NuevoLibro.titulo, new { @class = "form-control" })
    @Html.LabelFor(model => model.NuevoLibro.año, "Año")
    @Html.TextBoxFor(model => model.NuevoLibro.año, new { @class = "form-control" })
    @Html.LabelFor(model => model.NuevoLibro.genero, "Genero")
    @Html.TextBoxFor(model => model.NuevoLibro.genero, new { @class = "form-control" })
    @Html.LabelFor(model => model.NuevoLibro.numeroDePaginas, "Numero de paginas")
    @Html.TextBoxFor(model => model.NuevoLibro.numeroDePaginas, new { @class = "form-control" })
    @Html.LabelFor(model => model.NuevoLibro.nombreAutor, "Nombre de Autor")
    @Html.TextBoxFor(model => model.NuevoLibro.nombreAutor, new { @class = "form-control" })
</div>

    <!-- Agrega más campos para los detalles del libro aquí -->

    <button type="submit" class="btn btn-primary">Registrar</button>
}
